*,
*::before,
*::after {
	box-sizing: border-box;
}
header {
	color: var(--color-tone-1);
	border-bottom: 1px solid var(--color-tone-2);
	display: flex;
	align-items: center;
	text-align: center;
	padding: 0 1rem;
}
header h1 {
	flex-basis: 80%;
}
header div {
	flex-basis: 10%;
}
button:hover {
	cursor: pointer;
}
:root {
	--color-tone-1: #000;
	--color-tone-2: #787c7e;
	--color-tone-4: #d3d6da;
	--color-tone-7: white;
}
.dark {
	--color-tone-1: #fff;
	--color-tone-2: #818384;
	--color-tone-4: #3a3a3c;
	--color-tone-7: #121213;
}

body {
	background-color: var(--color-tone-7, white);
}

main div {
	height: 50px;
	width: 50px;
	border: 1px solid var(--color-tone-4);
}
.letter-row {
	display: flex;
	justify-content: center;
	width: 100%;
}
